{% extends 'base.html' %} 

{% block title %}
	Удалить платеж
{% endblock %}

{% block content_titel %}
	Удалить платеж
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
    <form method="POST">
      <div class="grid-x grid-margin-x">
        <div class="medium-5  medium-offset-2">
            <div class="cell small-12 medium-2 large-2">
                {{ form_pay.units(value=data.units,readonly="readonly") }}
            </div>
            <div class="cell small-12 medium-2 large-2">
              {{ form_pay.pay(value=data.pay,readonly="readonly") }}
            </div>
            <div class="cell small-12 medium-2 large-2">
                {{form_pay.pay_descr(value=data.pay_descr,readonly="readonly")}} 
            </div>
            <div>
                <input type="submit" class="button" value="Удалить оплату">
                <a href="{{ get_ablolute_url  }}/core/orders/addtype/{{ data.oid }}">Отмена</a>		
            </div>
          </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
