{% extends 'base.html' %}

{% block title %}
  Приход на склад 
{% endblock %}

{% block content_titel %}
  Приход на склад
{% endblock %} 

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
    <form method="POST">
      {{ form.csrf_token  }}
  <div class="grid-x grid-padding-x">
    <div class="medium-10 medium-offset-1 cell">
            <h3>Приходная накладная на склад</h3>
              {% if form.vendor.errors %}
                {{ form.vendor.errors }}
              {% endif %}
              {% if form.quantity.errors %}
                {{ form.quantity.errors }}
              {% endif %}
              {% if form.quantity_sum.errors %}
                {{ form.quantity_sum.errors }}
              {% endif %}
              <label>Валюта: <b>Российский рубль</b> /  <a href="/core/store/groups/add" ><b>Добавить группу</b></a></label>
      <label>Группы
        <select name="gid">
        {% for i in data %}
        <option value="{{ i.id }}">
            {{ i.id }} | {{ i.name }} | {{ i.descr }}
          </option>
        {% endfor %}
        </select>
      </label>
      <table align="center" class="stack">
        <thead>
          <tr>
            <th width="5%">Артикул</th>
            <th width="40%">Наименование</th>
            <th width="7%">Ценa</th>
            <th width="7%">Кол-во</th>
            <th width="7%">Ед.</th>
            <th width="7%">Сумма</th>
            <th width="25%">Описание</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.vendor }}</td>
            <td>{{ form.name }}</td>
            <td>{{ form.quantity_sum }}</td>
            <td>{{ form.quantity }}</td>
            <td>{{ form.units}}</td>
            <td>Сумма</td>
            <td>{{ form.descr }}</td>
          </tr>
        </tbody>
      </table>
                <input type="submit" class="button" value="Внести">
                <a href="{{ get_ablolute_url  }}/core/store/all">Отмена</a>		
    </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

