{% extends 'base.html' %}

{% block title %}
  Склад 
{% endblock %}

{% block content_titel %}
  Склад 
{% endblock %} 

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="medium-12 cell">
    <div class="grid-x grid-padding-x">
      <div class="medium-10 medium-offset-1 cell">
      <h3>Склад</h3>
      <p><a href="{{ get_ablolute_url  }}/core/store/add"> Добавить </a></p>
      <form method="POST">
          <label>Группы 
          <input type="submit" class="button" value="Показать">
          <select name="gid">
          {% for i in allgrprod %}
          <option value="{{ i.id }}">
              {{ i.id }} | {{ i.name }} | {{ i.descr }}
          </option>
          {% endfor %}
        </select>
        </label>
      </form>
      <table class="stack">
        <thead>
          <tr>
            <th width="5%">ID</th>
            <th width="5%">Артикул</th>
            <th width="15%">Дата</th>
            <th width="40%">Наименование</th>
            <th width="7%">Кол-во</th>
            <th width="5%">Ед.</th>
            <th width="7%">Ценa, руб</th>
            <th width="7%">Сумма, руб</th>
            <th width="25%">Описание</th>
            <th width="7%"></th>
          </tr>
        </thead>
        {% for item in data %}
        <tbody>
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.vendor }}</td>
            <td>{{ item.date.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity|round(2)}}</td>
            <td>{{ item.units }}</td>
            <td>{{ item.quantity_sum|round(2)}}</td>
            <td> --- </td>
            <td>{{ item.descr }}</td>
            <td><a href="{{ get_ablolute_url  }}/core/store/edit/{{ item.id }}">ред. </a> / <a href="{{ get_ablolute_url  }}/core/store/del/{{ item.id }}">уд.</a></td>
          </tr>
        </tbody>
      {% endfor %}
      </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

