{% extends 'base.html' %}

{% block title %}
Склад\Расходная накладная
{% endblock %}

{% block content_titel %}
 Расходная накладная 
{% endblock %} 

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <div class="grid-x grid-padding-x">
        <div class="medium-12">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell medium-3">
                <ul class="vertical tabs" data-tabs id="example-tabs">
                  <li class="tabs-title is-active"><a href="#1" aria-selected="true">Склад</a></li>
                  {% for i in data.allgrprod %}
                      <li class="tabs-title"><a href="#p{{ i.id }}">{{ i.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="cell medium-9">
                <div class="tabs-content" data-tabs-content="example-tabs">
                    <h5>Расходная накладная №1  от {{ date_today }} | Заказ: №{{ data.order_id }}</h5>
                  <form method="POST" name="store">
                    <table class="stack" style="font-size: 80%;">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th width="5%">Артикул</th>
                          <th>Наименование</th>
                          <th>В наличии</th>
                          <th>Ед.</th>
                          <th>Ценa,1ед</th>
                          <th width="10%">Кол-во</th>
                          <th></th>
                        </tr>
                      </thead>
                      {% for i in data.materials %}
                        {% for item in data.allstore %}
                          {% if item.id == i %}
                          <tbody>
                            <tr>
                              <td>{{ item.id}}</td>
                              <td>{{ item.vendor }}</td>
                              <td>{{ item.name }}</td>
                              <td>{{ item.quantity|round(2)}}</td>
                              <td>{{ item.units }}</td>
                              <td>{{ item.quantity_sum|round(2)}}</td>
                              <td><input type="number" value="0" name="{{ i }}"></td>
                              <td>
                                <input name="000{{ i }}" type="submit" class="button" value="del">
                            </tr>
                          </tbody>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </table>
                    <input name="122222" type="submit" class="button" value="Добавить">
                    <p>{{ data.materials }}</p>
                    {% for i in data.allgrprod %}
                    <div class="tabs-panel" id="p{{ i.id }}">
                      <table class="stack" style="font-size: 80%;">
                        <thead>
                          <tr>
                            <th>id</th>
                            <th width="5%">Артикул</th>
                            <th width="40%">Наименование</th>
                            <th>Кол-во</th>
                            <th>Ед.</th>
                            <th>Ценa,1ед</th>
                            <th>Описание</th>
                            <th></th>
                          </tr>
                        </thead>
                        {% for item in data.allstore %}
                          {% if item.gid == i.id %}
                            <tbody>
                              <tr>
                                <td>{{ item.id}}</td>
                                <td>{{ item.vendor }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity|round(2)}}</td>
                                <td>{{ item.units }}</td>
                                <td>{{ item.quantity_sum|round(2)}}</td>
                                <td>{{ item.descr }}</td>
                                <td>
                                  <input id="checkbox{{ item.id }}" name="{{item.id}}" type="checkbox"><label for="checkbox{{ item.id }}"></label>
                                  <a href="{{ get_ablolute_url  }}/core/store/addexpense/{{ data.order_id }}">доб. </a></td>
                              </tr>
                            </tbody>
                          {% endif %}
                        {% endfor %}
                      </table>
                    <input type="submit" class="button" value="Добавить">
                    </div>
                    {% endfor %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

