{% extends 'base.html' %}

{% block title %}
 Расхоы фирмы 
{% endblock %}

{% block content_titel %}
  Расходы фирмы 
{% endblock %} 

{% block content %}
<h3>Список затрат на фирму</h3>
<div class="medium-12 cell">
  <div class="grid-x grid-padding-x">
    <div class="medium-10 cell">
      <p><a href="{{ get_ablolute_url  }}/core/expense/company/add"> Добавить </a></p>
    </div>
  </div>
</div>
<div class="medium-12 cell">
  <div class="grid-x grid-padding-x">
    <div class="medium-10 cell">
      <table class="stack">
        <thead>
          <tr>
            <th width="5%">ID</th>
            <th width="15%">Дата</th>
            <th width="40%">Наименнование</th>
            <th width="7%">Ценa, руб</th>
            <th width="25%">Описание</th>
            <th width="7%"></th>
          </tr>
        </thead>
        {% for item in data %}
        <tbody>
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity_sum|round(2)}}</td>
            <td>{{ item.descr }}</td>
            <td><a href="{{ get_ablolute_url  }}/core/expense/company/edit/{{ item.id }}">ред. </a> / <a href="{{ get_ablolute_url  }}/core/expense/company/del/{{ item.id }}">уд.</a></td>
          </tr>
        </tbody>
      {% endfor %}
      </table>
    </div>
{% endblock %}

