{% extends 'base.html' %} 
{% block title %}
Удалить наименование
{% endblock %}

{% block content_titel %}
Удалить наименование
{% endblock %}
{% block content_type_name %} 
<div class="medium-12 cell">
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <form method="POST">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-7 large-7">
              {{form_ordertype.name(value=ordertype.name, readonly="readonly")}}
            </div>
            <div class="cell small-12 medium-2 large-2">
              {{form_ordertype.quantity(value=ordertype.quantity, readonly="readonly")}}
            </div>
            <div class="cell small-12 medium-1 large-1">
              {{form_ordertype.units(value=ordertype.units, readonly="readonly")}}
            </div>
            <div class="cell small-12 medium-2 large-2">
              {{form_ordertype.quantity_sum(value=ordertype.quantity_sum, readonly="readonly")}}
            </div>
            <div>
              <input type="submit" class="button" value="Удалить">
              <a href="{{ get_ablolute_url }}/core/orders/addtype/{{ ordertype.oid }}">Отмена</a>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
