{% extends 'base.html' %}

{% block title %}
Склад\Приходая накладная
{% endblock %}

{% block content_titel %}
 Приходная накладная 
{% endblock %} 

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <div class="grid-x grid-padding-x">
        <div class="medium-12">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell medium-3">
                <ul class="vertical tabs" data-tabs id="example-tabs">
                  <li class="tabs-title is-active"><a href="#1" aria-selected="true">Склад</a></li>
                  {% for i in data.allgrprod %}
                     <li class="tabs-title"><a href="{{ get_absolute_url }}/core/store/incoming/add?g={{ i.id }}">{{ i.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="cell medium-9">
                <div class="tabs-content" data-tabs-content="example-tabs">
                  <h5>Приходная накладная №1  от {{ date_today }} | Ордер: №{{ data.order_id }}</h5>
                  <div class="grid-x grid-padding-x">
                    <div class="medium-12 cell">
                      <label>Поиск</label>
                      <input>
                      <input name="000" type="submit" class="button" value="OK">
                      <a href="/"><b>Новый товар</b></a>
                    </div>
                  </div>
                  <form method="POST" id="zxc" name="store">
                    {{ data }}
                      {{ data.NewAddItemID }}
                    <input type="text" size="40" name="{{ data.incomings }}">
                          {% if data.ListGroupID %}
                    <table class="stack" style="font-size: 80%;">
                      <thead>
                        <tr>
                          <th width="2%">id</th>
                          <th width="2%">Артикул</th>
                          <th>Номенклатура</th>
                          <th width="11%">Кол-во</th>
                          <th width="10%">Ед.</th>
                          <th width="12%">Ценa,1ед</th>
                          <th></th>
                        </tr>
                      </thead>
                        {% for item in data.NewAddItemID %}
                        {{ item }}
                          <tbody>
                            <tr>
                              <td>{{ item.id}}</td>
                              <td>{{ item.vendor }}</td>
                              <td>{{ item.name }}</td>
                              <td>{{ form.quantity(value=item.quantity|round(2))}}</td>
                              <td>{{ form.units(value=item.units) }}</td>
                              <td>{{ form.quantity_sum(value=item.quantity_sum|round(2))}}</td>
                              <td>
                                <input name="000{{ item.id }}" type="submit" class="button" value="del">
                            </tr>
                          </tbody>
                      {% endfor %}
                    </table>
                      {% endif %}
                    {% if data.materials %}
                    <input name="001" type="submit" class="button" value="Провести">
                    <a href="{{ get_absolute_url }}/core/orders/addtype/{{ data.order_id }}">Отмена </a></td>

                      {{ data }}
                      {{ data.NewAddItemID }}
                    <p>{{ data.materials }}</p>

                    {% else %}
                    <p>Выберите расходные материалы</>
                    {% endif %}
                      <table class="stack" style="font-size: 80%;">
                        <thead>
                          <tr>
                            <th>id</th>
                            <th width="5%">Артикул</th>
                            <th width="40%">Наименование</th>
                            <th>Кол-во</th>
                            <th>Ед.</th>
                            <th>Ценa,1ед</th>
                            <th>Описание</th>
                            <th>Выбрать</th>
                          </tr>
                        </thead>
                        {% for item in data.listGroupID %}
                            <tbody>
                              <tr>
                                <td>{{ item.id}}</td>
                                <td>{{ item.vendor }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity|round(2)}}</td>
                                <td>{{ item.units }}</td>
                                <td>{{ item.quantity_sum|round(2)}}</td>
                                <td>{{ item.descr }}</td>
                                <td><input id="checkbox{{ item.id }}" name="Incoming{{ item.id }}" value="0" type="checkbox"><label for="checkbox{{ item.id }}"></label></td>
                              </tr>
                            </tbody>
                        {% endfor %}
                      </table>
                                <td><input type="submit" class="button" value="Добавить"></td>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

